@charset "UTF-8";

@font-face {
    font-family: 'Monster Friend Fore' ;
    src: url('../undertale/fontes/monster_friend_fore/MonsterFriendFore.otf') format('opentype'); 
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

/*-----------Cabeçalho-----------*/

header {
    background-color: black;
    margin-bottom: 7vh;
}

header h1 {
    font-family: 'Monster Friend Fore';
    text-align: center;
    font-size: 90px;
    color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    /*transition: 1s;*/
 }

 /*header h1:hover {
    font-size: 100px;
 }*/

 header a {
    text-decoration: none;
    background-color: transparent;
    color: white;
  }

  /*-----------Menu-----------*/

  nav {
    text-align: center;
    padding-bottom: 2vh;
 }

 nav a {
    font-size: 20px;
    color: white;
    margin-right: 40px;
    margin-right: 8vh;
    transition: 0.5s;
    text-decoration: none;
    
 }

 nav a:hover {
    background-color: white;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
 }

 /*-----------background section-----------*/

 section.topicos {
   background-color: grey;
   margin-bottom: 90px;
   margin-left: 7vh;
   margin-right: 7vh;
   text-align: center;
   padding-bottom: 10vh;
   color: white;
 }

section.background {
   background-color: grey;

}

 section.background01 {
   background-color: rgba(48, 48, 48, 0.288);
 }

 section.background02 {
   background-color: rgba(48, 48, 48, 0.205);
 }

 /*-----------Topicos-----------*/

 section.topicos > ul {
   font-size: 20px;
   text-align: center;
   background-color: rgba(48, 48, 48, 0.459);
   margin-right: 20vh;
   margin-left: 20vh;
 }

 section.topicos > p {
   font-size: 20px;
 }

 section.topicos > h1 {
   font-size: 50px;
   margin-bottom: 20px;
 }

 /*-----------Background Img-----------*/

 #img {
   background-image: url('../undertale2.0/imagens/wp1810177_resized_compressed.png');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
 }

 /*-----------Conteudo-----------*/

 p {
   font-size: 20px;
   margin-bottom: 44px;
   padding-left: 25px;
   padding-right: 25px;
 }

 h1 {
   font-size: 50px;
   margin-bottom: 44px;
   padding-left: 25px;
   padding-right: 25px;
 }

 h2 {
   font-size: 40px;
   margin-bottom: 44px;
   padding-left: 25px;
   padding-right: 25px;
 }

 main {
   margin-left: 50px;
   margin-right: 50px;
   text-align: center;
 }

 






