@charset "UTF-8";

 @font-face {
    font-family: 'Monster Friend Fore' ;
    src: url('../undertale/fontes/monster_friend_fore/MonsterFriendFore.otf') format('opentype'); 
    font-style: normal;
    font-weight: normal;
 }

 * {
    margin: 0px;
    padding: 0px;
 }

 header {
    background-color: black;
    padding: 0px;
    margin-bottom: 50px;
 }

 header h1 {
    font-family: 'Monster Friend Fore';
    text-align: center;
    font-size: 90px;
    color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    transition: 1s;
 }

 header a {
   text-decoration: none;
   background-color: transparent;
   color: white;
 }
 header h1:hover {
    font-size: 100px;
 }

 nav {
    text-align: center;
    padding-bottom: 2vh;
 }

 nav a {
    font-size: 20px;
    color: white;
    margin-right: 40px;
    margin-right: 8vh;
    transition: 0.5s;
    text-decoration: none;
    
 }

 nav a:hover {
    background-color: white;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
 }

 aside {
   margin-left: 40px;
   margin-right: 10px;
 }

 img {
   margin-bottom: 50px;
 }

 .imgsans {
   width: 400px;
   height: 330px;
   margin-right: 30px;
   transition: 0.5s;
 }

 .imgsans:hover {
   width: 420px;
   height: 350px;
 }

 .imgfrisk {
   width: 400px;
   height: 330px;
   margin-right: 30px;
   transition: 0.5s;
 }

 .imgfrisk:hover {
   width: 420px;
   height: 350px;
 }

 .imgtoriel {
   width: 400px;
   height: 330px;
   transition: 0.5s;
 }

 .imgtoriel:hover {
   width: 430px;
   height: 350px;
 }

 @font-face {
   font-family: 'pixel';
   src: url('../undertale/fontes/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf') format('truetype');
   font-style: normal;
   font-weight: normal;
 }

 main h1{
   font-family: 'pixel';
   padding-left: 10px;
   padding-right: 10px;
   margin: 0px 70px;
   font-size: 60px;
   margin-bottom: 50px;
 }
 
 main p {
   font-size: 20px;
   margin-bottom: 50px;
   margin-left: 80px;
   word-spacing: 1px;
   letter-spacing: 0.5px;
 }
